.branch-selector{
    margin: 10px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 85vw;
    max-width: 900px;
}
.branch-selector > h3{
    margin: 0;
    height: 25px;
    font-weight: 700;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    color: white;
}
.branch-selector > .branch{
    height: 25px;
    padding: 0 15px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.95em;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
    background-color: var(--color1-05);
    color: white;
    border: solid var(--color2-50) 1px;
    cursor: pointer;
    transition: 0.2s;
}
.branch-selector > .branch:hover{
    background-color: var(--color1-25);
}