.commit-file-details{
    justify-self: center;
    justify-items: center;
    width: 100%;
}
.commit-file-details .options{
    display: flex;
    justify-content: space-between;
    width: 92.5%;
    margin-top: 25px;
}
.commit-file-details .options .filter button{
    height: 20px;
    padding: 0 15px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.75em;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
    background-color: var(--color1-05);
    color: white;
    border: solid var(--color2-50) 1px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 5px;
}
.commit-file-details .options .filter button:hover{
    background-color: var(--color1-25);
}
.commit-file-details .options .filter .selected{
    background-color: var(--color2-50);
    color: white;
    border: none;
}
.commit-file-details .options .filter .clear{
    background-color: rgba(255, 102, 102, .3);
}
.commit-file-details .options .filter .clear:hover{
    background-color: rgba(255, 102, 102, .75);
}
.commit-file-details .options .filter .selected:hover{
    background-color: var(--color2-75);
    color: white;
    border: none;
}
.commit-file-details .options .download img{
    height: 90%;
    aspect-ratio: 1;
    cursor: pointer;
}
.commit-file-details > .break{
    width: 95%;
    height: 2px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.commit-file-details > table{
    width: 95%;
    color: white;
    border-collapse: collapse;
    margin-bottom: 25px;
}
.commit-file-details table thead th{
    height: 10px;
    font-weight: 900;
    font-size: 1em;
    color: white;
    cursor: pointer;
}
.commit-file-details table .filename{
    text-align: start;
    padding-left: 15px;
    max-width: 400px;
}
.commit-file-details tbody td{
    border-bottom: 1px solid white;

}
.commit-file-details tbody td{
    height: 10px;
    font-weight: 500;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.75);
}
.commit-file-details tbody .status-added{ color: var(--color-added); }
.commit-file-details tbody .status-modified{ color: var(--color-modified);}
.commit-file-details tbody .status-removed{ color: var(--color-removed);}
.commit-file-details tbody .status-renamed{ color: var(--color-modified);}