.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.download-options{
    background-color: #151515;
    width: 50vw;
    height: 200px;
    max-width: 600px;
    min-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: solid 1px rgba(255, 255, 255, .5);
    z-index: 11;
}
.download-options > .head{
    display: flex;
    justify-content: space-between;
}
.download-options .head .aside{
    width: 20px;
    aspect-ratio: 1;
    margin: 20px;
}
.download-options .head > h3{
    color: white;
    font-weight: 700;
    font-size: 1.5em;
}
.download-options .head img{
    cursor: pointer;
    rotate: 180deg;
}
.download-options .options{
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: 10px auto;
}
.download-options .options > div{
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}
.download-options .options div > button{
    height: 75px;
    aspect-ratio: 1;
    border-radius: 10px;
    border: solid 1px white;
    margin-bottom: 10px;
    background-color: var(--color1-05);
    cursor: pointer;
    transition: 0.2s;
}
.download-options .options div > button:hover{
    background-color: var(--color1-25);
}
.download-options .options div button > span{
    color: rgba(255, 255, 255, .75);
    font-weight: 900;
    font-size: 1em;
    transition: 0.1s;
}
.download-options .options div > button:hover span{
    font-size: 1.1em;
    color: rgba(255, 255, 255, 1);
}