* {
  box-sizing: border-box;
}
:root{
  --color-primary: #283D3B;
  --color-alt-primary: rgba(25, 114, 120, 0.25);
  --color-secondary: #EDDDD4;
  --color-accent: #da4e23;

  --color1: #09A7C3;
  --color1-50: rgba(9, 167, 195, .50);
  --color1-25: rgba(9, 167, 195, .25);
  --color1-05: rgba(9, 167, 195, .05);

  --color2: #F2810F;
  --color2-75: rgba(242, 129, 15, .75);
  --color2-50: rgba(242, 129, 15, .50);

  --background1: rgba(9, 167, 195, .20);
  --background2: rgba(64, 64, 64, .35);

  --color-modified: rgba(255, 235, 102, .75);
  --color-added: rgba(117, 255, 102, .75);
  --color-removed: rgba(255, 102, 102, .75);
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Cabinet Grotesk', sans-serif;
  overflow-x: hidden;
  background:
    radial-gradient(50% 50% at 50% 50%, var(--background1) 0%, var(--background2) 100%),
    black;    /* force fit to viewport */
  background-position: center;    /* keep it centered */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
}