.rate-limit-widget{
    position: absolute;
    top: 75px;
    right: 0;
    width: 165px;
    border: solid 1px var(--color-secondary);
    border-radius: 25px 0 0 25px;
    background-color: var(--color-alt-primary);
    display: flex;
    justify-content: space-between;
}
.rate-limit-widget h2{
    margin: 0;
    text-align: end;
    text-transform: uppercase;
    height: 25px;
    font-weight: 900;
    font-size: 1.25em;
    color: #EDDDD4;
    padding-right: 15px;
}
.rate-limit-widget .break{
    height: 5px;
    width: 100px;
    background-color: #C04F2A;
    justify-self: end;
}
.rate-limit-widget span{
    font-weight: 700;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-self: center;
    color: rgba(237, 221, 212, 0.8);
    margin-top: 5px;
    padding-right: 10px;
}
.rate-limit-widget .img{
    align-content: center;
    cursor: pointer;
    border-radius: 25px;
}
.rate-limit-widget img{
    margin-left: 5px;
}